* {
    margin: 0%;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color:white;     
}
header {
    font-family: oswald, sans-serif;
    padding: 10px 300px;
    text-align: center;
    background-color:cornflowerblue;
    display:flex;
}
nav ul {
    padding: 10px;
    list-style: none;
    margin-top: 2%;
}
nav ul li {
    display: inline;
    margin: 0 50px;
}
nav a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}
#logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 10px;
}
.container {
    display:flex;
    gap: 20px; /*adiciona o espaçamento de 20px entre os elementos filhos do container*/
    justify-content: center;
    margin-top: 50px;
}
.produto {
    background:white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.produto:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.rec-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.card-title {
    font-size: 20px;
    padding: 15px;
    background-color: white;
    text-align: center;
}
/*Ewstilização do descrição*/
.card-description {
    padding: 15px;
    font-size: 14px;
    background-color: white;
    text-align: justify;
}
.card-valor {
    padding: 15px;
    font-size: 14px;
    background-color: #C0C0C0;
    text-align: justify;
    font-size: 20px;
    color: forestgreen;
}
.logomarca {
    width: 60px;       /* define a largura da imagem */
    height: auto;      /* ajusta a altura proporcionalmente */
}